@use "base/variables" as v;
@use "base/mixins" as m;

.contenido-resumen {
    p {
        span {

            color: v.$azul;
            font-weight: v.$bold;
            font-size: 2rem;

        }
    }

}

.contenedor-servicio {

    border-top: .1rem solid v.$gris;
    padding:  1rem 0;

}